In [103]:
import pandas as pd
import numpy as np
import matplotlib
import googlemaps
import map_apikey

In [104]:
gmap = googlemaps.Client(key=map_apikey.apikey)

In [105]:
result = gmap.geocode("Texas A&M University - San Antonio")

In [106]:
result

[{'address_components': [{'long_name': 'One',
    'short_name': 'One',
    'types': ['street_number']},
   {'long_name': 'University Way',
    'short_name': 'University Way',
    'types': ['route']},
   {'long_name': 'Southside',
    'short_name': 'Southside',
    'types': ['neighborhood', 'political']},
   {'long_name': 'San Antonio',
    'short_name': 'San Antonio',
    'types': ['locality', 'political']},
   {'long_name': 'Bexar County',
    'short_name': 'Bexar County',
    'types': ['administrative_area_level_2', 'political']},
   {'long_name': 'Texas',
    'short_name': 'TX',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'United States',
    'short_name': 'US',
    'types': ['country', 'political']},
   {'long_name': '78224', 'short_name': '78224', 'types': ['postal_code']}],
  'formatted_address': 'One University Way, San Antonio, TX 78224, USA',
  'geometry': {'location': {'lat': 29.3042745, 'lng': -98.5247016},
   'location_type': 'ROOFTOP',
   'viewport': {'northeast': {'lat': 29.30562348029149,
     'lng': -98.5233526197085},
    'southwest': {'lat': 29.3029255197085, 'lng': -98.52605058029151}}},
  'place_id': 'ChIJA5bzDWJXXIYR8RCQY3lA1W0',
  'plus_code': {'compound_code': '8F3G+P4 San Antonio, Texas, United States',
   'global_code': '76X38F3G+P4'},
  'types': ['establishment', 'point_of_interest', 'university']}]

In [58]:
tf = ["country" in x["types"] for x in result[0]["address_components"]]

In [59]:
result[0]["address_components"][tf.index(True)]["long_name"]

'United States'

In [73]:
def get_country(university):
    result = gmap.geocode(university)
    component = result[0]["address_components"]
    index = ["country" in x["types"] for x in component].index(True)
    country = component[index]["long_name"]
    out = f"{university}: {country}"
    return(country)

In [74]:
get_country("University of Kerbala")

'Iraq'

In [77]:
uni_list = ["University of Kerbala","Wuhan University"]

In [78]:
country_list = [get_country(x) for x in uni_list]

In [80]:
df = pd.DataFrame({"University":uni_list,
             "Country":country_list})

In [81]:
df["Country"].tolist()

['Iraq', 'China']

In [89]:
table = pd.read_excel("cleaned new customer.xlsx", skiprow=5);table

,Close Date,Amount,CY2017,CY2018,Grand Total,Account Name,Opportunity Owner
0,February,Sum of Amount,26186.15,63047.00,89233.15,NaN,NaN
1,NaN,Record Count,2.00,2.00,4.00,NaN,NaN
2,DC,Amount,17097.15,NaN,NaN,Air Force Institute of Technology-Graduate Sch...,David Stout
3,NaN,NaN,1.00,NaN,NaN,NaN,NaN
4,EGS,Amount,9089.00,NaN,NaN,North Carolina Central University School of Law,Greg Seymour
5,NaN,NaN,1.00,NaN,NaN,NaN,NaN
6,DC - EGS,Amount,NaN,44448.00,NaN,Coastal Carolina University,Greg Seymour
7,NaN,NaN,NaN,1.00,NaN,NaN,NaN
8,DC,Amount,NaN,18599.00,NaN,Coastal Carolina University,David Stout
9,NaN,NaN,NaN,1.00,NaN,NaN,NaN
10,March,Sum of Amount,95219.00,34678.00,129897.00,NaN,NaN
11,NaN,Record Count,5.00,2.00,7.00,NaN,NaN
12,DC,Amount,26887.00,NaN,NaN,Dartmouth College,Doug Cannon
13,NaN,NaN,1.00,NaN,NaN,NaN,NaN
14,DC,Amount,15128.00,NaN,NaN,Taylor University,David Stout
15,NaN,NaN,1.00,NaN,NaN,NaN,NaN
16,DC,Amount,17703.00,NaN,NaN,"Concordia University, Saint Paul",Irene Kamotsky
17,NaN,NaN,1.00,NaN,NaN,NaN,NaN
18,DC,Amount,17703.00,NaN,NaN,Lesley University,Doug Cannon
19,NaN,NaN,1.00,NaN,NaN,NaN,NaN
20,DC,Amount,17798.00,NaN,NaN,Fuller Theological Seminary,Irene Kamotsky
21,NaN,NaN,1.00,NaN,NaN,NaN,NaN
22,DC,Amount,NaN,20183.00,NaN,Daemen College,Doug Cannon
23,NaN,NaN,NaN,1.00,NaN,NaN,NaN
24,DC,Amount,NaN,14495.00,NaN,University of Michigan Medical School,David Stout
25,NaN,NaN,NaN,1.00,NaN,NaN,NaN
26,April,Sum of Amount,85448.00,104183.00,189631.00,NaN,NaN
27,NaN,Record Count,6.00,3.00,9.00,NaN,NaN
28,DC,Amount,16417.00,NaN,NaN,Assumption College,Doug Cannon
29,NaN,NaN,1.00,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
179,NaN,NaN,1.00,NaN,NaN,NaN,NaN
180,DC,Amount,26887.00,NaN,NaN,Winona State University,Irene Kamotsky
181,NaN,NaN,1.00,NaN,NaN,NaN,NaN
182,DC,Amount,17798.00,NaN,NaN,Elizabethtown College,Doug Cannon
183,NaN,NaN,1.00,NaN,NaN,NaN,NaN
184,DC - EGS,Amount,52854.00,NaN,NaN,Providence St. Joseph Health,David Stout
185,NaN,NaN,1.00,NaN,NaN,NaN,NaN
186,DC,Amount,51122.00,NaN,NaN,West Virginia University,Greg Seymour
187,NaN,NaN,1.00,NaN,NaN,NaN,NaN
188,DC,Amount,17798.00,NaN,NaN,Dakota State University,Irene Kamotsky
189,NaN,NaN,1.00,NaN,NaN,NaN,NaN
190,DC - EGS,Amount,31814.00,NaN,NaN,Saint Louis University School of Law,Greg Seymour
191,NaN,NaN,1.00,NaN,NaN,NaN,NaN
192,DC,Amount,38626.00,NaN,NaN,University of Hawaiʻi at Mānoa,Irene Kamotsky
193,NaN,NaN,1.00,NaN,NaN,NaN,NaN
194,DC,Amount,NaN,23348.00,NaN,Texas A&M University - San Antonio,Greg Seymour
195,NaN,NaN,NaN,1.00,NaN,NaN,NaN
196,EGS,Amount,NaN,11965.00,NaN,Georgia College & State University,Sean Keough
197,NaN,NaN,NaN,1.00,NaN,NaN,NaN
198,DC,Amount,NaN,20183.00,NaN,Messiah College,Doug Cannon
199,NaN,NaN,NaN,1.00,NaN,NaN,NaN
200,EGS,Amount,NaN,6446.00,NaN,Shepherd Center,David Stout
201,NaN,NaN,NaN,1.00,NaN,NaN,NaN
202,DC,Amount,NaN,353000.00,NaN,Association of Arab Universities,Irene Kamotsky
203,NaN,NaN,NaN,1.00,NaN,NaN,NaN
204,Grand Total,Sum of Amount,1158671.15,1222130.64,2380801.79,NaN,NaN
205,NaN,Record Count,52.00,39.00,91.00,NaN,NaN
206,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,Confidential Information - Do Not Distribute,NaN,NaN,NaN,NaN,NaN,NaN
208,"Copyright (c) 2000-2019 salesforce.com, inc. A...",NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
type(table)

pandas.core.frame.DataFrame

In [99]:
uni_list=table[~table["CY2018"].isnull()]["Account Name"].dropna().unique().tolist()

In [100]:
def get_country_list(uni_list,return_type = "DataFrame"):
    country_list = [get_country(x) for x in uni_list]
    if return_type == "DataFrame":
        df = pd.DataFrame({"University":uni_list,
                         "Country":country_list})
        return(df)
    else:
        return(country_list)

In [101]:
final = get_country_list(uni_list)

In [102]:
final

                                        University        Country
0                      Coastal Carolina University  United States
1                                   Daemen College  United States
2            University of Michigan Medical School  United States
3                                     SUNY Geneseo  United States
4                               Population Council  United States
5                         Ohio Northern University  United States
6                 Vanderbilt University Law School  United States
7                              AccessLex Institute  United States
8                           Salem State University  United States
9                        University of Mississippi  United States
10                        Alabama State University  United States
11                   Barrow Neurological Institute  United States
12                        Arkansas Tech University  United States
13                        Henry Ford Health System  United States
14                        Shawnee State University  United States
15                    Appalachian State University  United States
16                  Xavier University of Louisiana  United States
17                                   Touro College  United States
18                             University of Maine  United States
19                       Louisiana Tech University  United States
20                               Stonehill College  United States
21                            University of Denver  United States
22               University of Maine at Farmington  United States
23              Universidad de La Salle - Colombia       Colombia
24  University for Business and Technology, Kosovo         Kosovo
25                         Arkansas State Archives  United States
26    National Council on Measurement in Education  United States
27                           University of Kerbala           Iraq
28                  University of Louisiana Monroe  United States
29     Dalhousie University Schulich School of Law         Canada
30             University of Alabama School of Law  United States
31              Texas A&M University - San Antonio  United States
32              Georgia College & State University  United States
33                                 Messiah College  United States
34                                 Shepherd Center  United States
35                Association of Arab Universities  United States